@model PagedList.IPagedList<ECommerce.Models.Product>
@using PagedList.Mvc

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
        </th>
        <th>
            @if (User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.FirstOrDefault().Company.Name)
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductCategory.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Tax.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.DisplayFor(modelItem => item.Company.Name)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Image))
                {
                    <img src="@Url.Content(item.Image)" alt="Image" style="width: 100px; height: 150px; max-width: 100%; height: auto;" />
                }
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))