@model IEnumerable<ECommerce.Models.Product>

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @if (User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.Company.Name)
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.DisplayFor(modelItem => item.Company.Name)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>            
            @if (!string.IsNullOrEmpty(item.Image))
            {
                <img src="@Url.Content(item.Image)" alt="Image" style="width: 100px; height: 150px; max-width: 100%; height: auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
