@model PagedList.IPagedList<ECommerce.Models.Quote>
@using PagedList.Mvc

@{
    ViewBag.Title = "Cotizaciones";
}

<h2>Cotizaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @if (User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.FirstOrDefault().Company.Name)
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Supplier.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().QuotePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
                @if (User.IsInRole("Admin"))
                {
            @Html.DisplayFor(modelItem => item.Company.Name)
                }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuotePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.QuoteId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.QuoteId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.QuoteId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>


Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
