@model PagedList.IPagedList<ECommerce.Models.Budget>
@using PagedList.Mvc

@{
    ViewBag.Title = "Budgets";
}

<h2>Budgets</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BudgetId)
        </th>
        <th>
            @if (User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.FirstOrDefault().Company.Name)
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Customer.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TotalButget)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetId)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.DisplayFor(modelItem => item.Company.Name)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalButget)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BudgetId }, new { @class = "btn btn-warning" })
                @*@Html.ActionLink("Details", "Details", new { id=item.BudgetId }, new { @class = "btn btn-info" })*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.BudgetId }, new { @class = "btn btn-danger" })*@
            </td>
        </tr>
    }

</table>

Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
